In [ ]:
pip install yfinance

In [2]:
import yfinance as yf
import pandas as pd

def download_price_data(
    tickers,
    start="2015-01-01",
    end=None
):
    """
    Descarga datos históricos de precios ajustados
    y los devuelve en formato largo (EDA-friendly).
    """
    data = yf.download(
        tickers,
        start=start,
        end=end,
        auto_adjust=True,
        progress=False
    )

    if data.empty:
        raise ValueError("No se pudieron descargar los datos.")

    # Pasar de formato ancho a largo
    data = (
        data
        .stack(level=1)
        .reset_index()
        .rename(columns={
            "level_1": "Ticker",
            "Date": "date",
            "Open": "open",
            "High": "high",
            "Low": "low",
            "Close": "close",
            "Volume": "volume"
        })
        .sort_values(["Ticker", "date"])
    )

    return data

In [3]:
TICKERS = ["EC", "TGLS", "CIB", "CMTOY"]

df = download_price_data(TICKERS)

df.tail(n=10)

Failed to get ticker 'CIB' reason: Failed to perform, curl: (28) Operation timed out after 10001 milliseconds with 0 bytes received. See https://curl.se/libcurl/c/libcurl-errors.html first for more details.
C:\Users\danie\AppData\Local\Temp\ipykernel_26088\2133829772.py:26: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  data

Price       date Ticker      close       high        low       open    volume
11163 2026-02-06   TGLS  52.080002  52.570000  50.790001  51.189999  194400.0
11167 2026-02-09   TGLS  51.970001  52.119999  51.360001  51.959999  151900.0
11171 2026-02-10   TGLS  53.220001  54.849998  51.939999  52.549999  270900.0
11175 2026-02-11   TGLS  52.509998  53.040001  51.840000  52.730000  282100.0
11179 2026-02-12   TGLS  52.110001  53.599998  51.810001  53.459999  235500.0
11183 2026-02-13   TGLS  52.959999  53.619999  51.810001  52.290001  155500.0
11187 2026-02-17   TGLS  53.430000  53.750000  51.639999  52.930000  215500.0
11191 2026-02-18   TGLS  52.619999  54.330002  52.200001  53.369999  180700.0
11195 2026-02-19   TGLS  51.630001  52.709999  51.209999  52.599998  256500.0
11198 2026-02-20   TGLS  51.130001  52.235001  51.064999  51.650002  285186.0

In [ ]:
# Separación de Da